# Adzuna API Credentials
ADZUNA_APP_ID=your_app_id_here
ADZUNA_APP_KEY=your_app_key_here

# Database Credentials -- Used for local postgresql
DB_NAME=job_intelligence
DB_USER=Your_username
DB_PASS=Your_password
DB_HOST=localhost
DB_PORT=5432

# Database neon Credentials
DB_HOST=your-neon-host
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=your_neon_password