# Adzuna API Credentials
ADZUNA_APP_ID=your_app_id_here
ADZUNA_APP_KEY=your_app_key_here

# Database Credentials
DB_NAME=job_intelligence
DB_USER=Your_username
DB_PASS=Your_password
DB_HOST=localhost
DB_PORT=5432
