# Secrets & Environment Variables
.env

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Data Lake files (We track processed data for automation)
data/raw/*.json
!data/processed/processed_jobs.csv
data/processed/*.csv

# OS specific
.DS_Store
Thumbs.db
